name: CI/CD Frontend - ColabCode

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

      - name: Deploy to VPS
        run: |
          ssh -o StrictHostKeyChecking=no root@82.29.161.242 << 'EOF'
            cd /root/ColabCode-Frontend
            git pull origin main
            docker stop colabcode-frontend || true
            docker rm colabcode-frontend || true
            docker build -t colabcode-frontend:latest .
            docker run -d --name colabcode-frontend -p 4000:4000 colabcode-frontend:latest
          EOF
